body{
    background-color: #f6f5f5;
    margin:0px;
    padding:0px;
}

ul{
    list-style-type:none;
}

a{
    text-decoration: none;
}

#top{
    width: 100%;
    height: 70vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

#work{
    width: 100%;
    height: 50vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;

}
#aboutme{
    width: 100%;
    height: 50vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color:#FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2) ;
    padding:0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin:30px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color:#505050;
    font-size:15px;
    font-weight: 700;
}

nav ul li:active{
    transform:scale(1.1)
}

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    font-size: 22px;
    text-decoration: underline;
}

.active{
    font-weight: bold;
    color:#2d2a2a;
}

.text-contain p:nth-child(1){
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight:bold;
    color:black;
    font-size: 30px;
    text-align: center;
}

.text-contain p:nth-child(2){
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    letter-spacing: 1px;
    color:#1a1a1a;
    font-size: 50px;
}
.text-contain p:nth-child(3){
    font-family:calibri;
    color:#403e3e;
    font-size:25px;
    line-height: 30px;
    text-align: center;
}

.text-contain p{
    line-height: 0px;
    margin:45px 0px 25px;
}

.text-contain{
    position: absolute;
    left:13%;
    top:42%;
    transform: translate(-13%,-42%);
}

.text-contain button{
    width: 130px;
    height:25px;
    border-Radius:10px;
    font-family: calibri;
    font-weight:bold;
    font-size:14px;
    outline:none;
    margin:0px 10px;

}

.hireme{
    border-radius: 2px solid #373636 ;
    color:#373636;
}

.down-res{
    background-color:#0b0b0b;
    color:#FFF;
    border:none;
}

button:active{
    transform:scale(1.1)
}


.aboutme-section {
    position: relative;
}
#headshot{
    height: 500px;
    position:absolute;
    bottom:30px;
    left:80%;
    transform: translate(-80%);
    border-radius: 300%;
    margin-bottom: 55px;
}

.about-me{
    width:60%;
    height: 500px;
    background:#FFF;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:-7% auto 20px auto;
    position:relative;
    margin-top: 30px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.about-text{
    width: 550px;
}

.about-text P:nth-child(1){
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    line-height: 0px;
    text-decoration: underline;

}

.about-text P:nth-child(2){
    color:#403e3e;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 5px;
}

.about-text P:nth-child(3){
    color:#3e3d3d;
    font-family: calibri;
    font-size: 25px;    
}
.work-text{
    text-align: center;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color:black;
    margin-top: 150px;
    text-decoration: underline;
}

.card-1{
    width: 400px ;
    height:420px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.maincard{
    display: flex;
    justify-content: space-evenly;
}

.card-1{
    background-image: url("../images/Education.jpg");
    margin-top: 30px;
}

.card-1 p:nth-child(1){
    color:cornsilk;
    font-family: calibri;
    font-size: 40px;
    line-height: 0px;
    text-decoration: underline;
}

.card-1 p:nth-child(2){
    color:cornsilk;
    font-family: calibri;
    font-size: 23px;
    line-height: 0px;
}

.card-2, .card-3{
    width: 400px ;
    height:220px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px 12px rgba(14, 13, 13, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}


.card-2{
    background-image: url("../images/suitcase.jpg");
    margin-top: 10px;
    margin-bottom: 20px;
    background-size:400px

}
.card-3{
    background-image: url("../images/interests.jpg");
}

.card-2 p:nth-child(1),
.card-3 p:nth-child(1){
    color:cornsilk;
    font-family: calibri;
    font-size: 23px;
    line-height: 0px;
}

.card-2 p:nth-child(2),
.card-3 p:nth-child(2){
    font-family: calibri;
    text-align: center;
    width: 230px;
    margin:0px 0px 20px 0px;
    color:cornsilk;
    font-weight: bolder;
}

.parent {
    display:flex;
    justify-content: space-evenly;
    margin-top:50px;
    margin-bottom: 20px;
}

footer{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow:4px 4px 24px rgba(0,0,0,0.2) ;
}

h5{
    text-align: center;
    text-decoration: underline;
}

#info{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    
}

#info li{
    margin:30px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color:#505050;
    font-size:15px;
    font-weight: 700;
    display: flex;
}

footer #contactme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color:#FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2) ;
    padding:0px 5%;
    color:white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("../images/contact.jpg");


}


footer #contactme li a{
    margin:30px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color:rgb(168, 167, 167);
    font-size:15px;
    font-weight: 700;
    display: flex;
}
@media(max-width:1100px){
    *{
        box-sizing: border-box;
    }
    #headshot{
        height: 400px;
        left:50%;
        transform:translateX(-50%);
        margin-left:250px
    }
    .text-contain{
        top:46%;

    }
    .text-contain button{
        margin: 5px;
    }
    .about-me{
        width:90%;
        border-radius: 10px;
    }
    .about-text{
        width:400px;
    }
    .about-text p:nth-child(1){
        font-size: 20px;
    }
    .about-text p:nth-child(2){
        font-size: 10px;
    }

    .about-text p:nth-child(3){
        font-size:14px;
    }
    #work{
        padding: 2% 5% 0px 5%;
    } 
    .parent{
        justify-content: center;
        flex-wrap: wrap;
    }
    #work {
        height: auto;
    }
    .card-1 .card-2 .card-3{
        flex-grow: 1;
        margin:10px;
    }
#contactme{
        height: 200px;
        width:100%;
        border-radius: 10px;

    }
}
@media(max-width:700px){
    #work #aboutme #top{
        background-image: none;
        background-color: #f7f7f7;
    }
    .text-contain p:nth-child(2){
        line-height: 40px;
        margin:0px;
        padding:0px
    }
    .text-contain{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width: 80%;
    }
    nav ul{
        margin:0px;
        padding: 0px;
        background-color: #ebeef4;
        flex-direction: column;
        position:fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        display:flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        display:none;
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        font-family: calibri;
        font-size: 1.4em;
        text-transform: uppercase;
        color:#5c5c5c;
    }
    nav ul li a:hover{
        color:#121212;
    }
    .toggle:before{
        content:'icon';
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
    }

    



    #headshot{
        display:none;
    }
    #contactme, #info{
        height: 100px;
        width:100%;
        border-radius: 10px;

    }
}








/*{






    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: darkgrey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#navbar{
    display:flex;
    Font-size: 25px;
    background-color:tan;
    justify-content: flex-end;
    border-radius: 0px 0px 10px 10px;
}

.headshot > img{
    border-radius: 300px;
}

main{
    flex:auto;
    justify-content: baseline;
    padding:10px;
}

ul{
    display:flex;
    border-style: solid;
    margin-right: 10px;      
}

Li{
    list-style-type:none;
    padding:1px 10px 1px 10px;
    font-size:1rem;

}

header{
    padding:10px;
    background-color: white;
    text-decoration: underline;
    border-radius:10px 10px 0px 0px;
   
}

.about {
    border-style: solid;
    border-width:1px;
    background-color: white;
    padding:30px;
    display:block;
    border-radius:10px;
}
h3{
    text-align: center;
    text-decoration: underline;
    padding:30px;
}

.aboutme{
    text-align: center;
}




.portfolio{
    border-style: solid;
    border-width:1px;
    background-color: white;
    padding:30px;
    display: block;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 5px #aaaaaa;
}

.portfolio .cardswrap{

}

.cardswrap{
    flex-direction: row;
}

.card{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    flex:auto;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
    width: 25%;
}
.card > img{
    width: 50%;
    flex:auto;
}

h4{
    text-align: center;
    text-decoration: underline;
    padding:30px;
}

h5{
    text-align: center;
    text-decoration: underline;
}

#info{
    display: flex;
    justify-content: center;
}

footer{
    padding:30px;
    text-align: center;
    color:white;
    background-color:black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

@media screen and (max-width:992){
    .card{
        width:50%
    }
}

@media screen and (max-width:768px){
    .card{
        width:100%
    }

}
